*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  hsl(234, 29%, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.main {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    /* border: 1px solid black; */
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: 700px;
    height: 420px;
}
.right {
    display: flex;
    /* width: 106%; */
    padding: 2%;
    /* height: 497px; */
    /* margin: -46px; */
    justify-content: right;
}
.left {
    width: 70%;
    padding: 46px;
    display: flex;
    justify-content: center;
    margin: 20px;
}
h1{
    font-family: Roboto;
}
.first-line{
    font-family: roboto;

}
.second-line {
    font-family: roboto;
}
.third-line{
    font-family: roboto;
    
}
h5 {
    font-family: roboto;
    margin-top: 10px;
}
    button{
      background: hsl(235, 18%, 26%);
    color: #ffff;
    width: 280px;
    height: 45px;
    border-radius: 4px;
    /* align-items: center; */
    margin-top: 10px;
    font-family: roboto;
}
input {
    width: 280px;
    height: 45px;
    border-radius: 4px;
    margin-top: 10px;
}
p {
    margin-top: 10px;
    font-family: roboto;
    font-size: 12px;
}
.first{

    font-size: 12px;
    margin-top: 10px;
        display: flex;
    justify-content: space-evenly;
    align-items: center
}
.second {
    font-size: 12px;
    margin-top: 10px;
}
.third{
    font-size: 12px;
    margin-top: 10px;
}
::placeholder{
    opacity: 1;
    text-align: center;
    font-family: roboto;
}
.all-headings {
    margin-top: 30px;
}